body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 100px;
}

button {
  flex: 0 0 50%;
  background-color: white;
  color: blueviolet;
  border-radius: 8px;
  border-color: blueviolet;
  height: 100px;
  font-size: x-large;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  box-shadow: 4px 9px #999;
  cursor: pointer;
}
button:hover {
  background-color: #d497da;
}
button:active {
  background-color: #d497da;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.game-results {
  padding-top: 50px;
  width: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.rounds {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0px;
  gap: 20px;
  width: inherit;
}
.rounds > li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  width: inherit;
  justify-content: space-between;
}
.final-result {
  font-size: larger;
  font-weight: 600;
}
